* {
    cursor: url('https://raw.githubusercontent.com/silke-silke/silke-silke.github.io/master/css/img/point1.png'), auto;
}

html {
    cursor: url('https://raw.githubusercontent.com/silke-silke/silke-silke.github.io/master/css/img/point1.png'), auto;
    padding: 0;
    margin: 0;
    background-color: #9d80ca;
}

body {
    cursor: url('https://raw.githubusercontent.com/silke-silke/silke-silke.github.io/master/css/img/point1.png'), auto;
    background-color: #9d80ca;
    margin: 0;
    padding: 0;
    background-position: left top;
    background-attachment: scroll;
    background-repeat: repeat-y;
    background-image: url('http://www.silke.xyz/css/img/bg6.png');
    height: auto;
    font-family: Lota Grotesque Alt 1 Regular;
    font-size: 16px;
    font-weight: 600;
    color: black;
    width: 100vw;
    overflow-x: hidden;
}

/* HEADING */

.subh {
    border-radius: 12px;
    padding: 10px;
    color: black;
    -webkit-text-stroke: 0px black;
    font-weight: 700;
    font: 1.6em "Lota Grotesque Alt 1 Regular";
    background-color: rgba(255, 255, 255, 0.75);
    border-top: 4px solid #0a0404;
    border-bottom: 4px solid #080303;
}

H1 {}

H3 {}

H4 {}

H5 {}

H6 {}

H2 {
    font-family: "Lota Grotesque Alt 1 Regular", sans-serif;
    font-size: 85pt;
    font-weight: 600;
    color: black;

}

.stroke {
    color: black;
    -webkit-text-stroke: 5px black;
    text-stroke: 5px black;
    font: 15vw "Lota Grotesque Alt 1 Regular";
    cursor: url('https://raw.githubusercontent.com/silke-silke/silke-silke.github.io/master/css/img/point1.png'), auto;
    background-color: white;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}


h2,
.pv5 {
    background-color: white;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}


/* END OF HEADING */


@-webkit-keyframes silver {
    0% {
        background-color: white;
        color: black;
    }

    100% {
        background-color: pink;
        color: white;
    }
}


@keyframes silver {
    0% {
        background-color: white;
        color: black;
    }

    100% {
        background-color: pink;
        color: white;
    }
}

/* NAVIGATION */

nav {
    margin-top: -45px;
    margin-bottom: -50px;
    max-width: 98vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    font-family: "Lota Grotesque Alt 1 Regular";
    font-weight: normal;
    Font-size: 2em;
    text-decoration: none;
}

nav a {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    text-decoration: none;
    text-align: center;
    margin: 0.25em;
    color: black;
    padding: 0.25em;
    border-radius: 12px;
    background-color: white;
    border: 5px solid black;
    font-family: "Lota Grotesque Alt 1 Regular";
    font-weight: normal;
    Font-size: 1.4em;
    text-decoration: none;
    cursor: url('https://raw.githubusercontent.com/silke-silke/silke-silke.github.io/master/css/img/point1.png'), auto;
}

nav a:hover {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    text-decoration: none;
    text-align: center;
    cursor: url('https://raw.githubusercontent.com/silke-silke/silke-silke.github.io/master/css/img/point1.png'), auto;
    margin: 0.25em;
    -webkit-animation: silver;
    animation: silver;
    -webkit-animation-duration: 0.33s;
    animation-duration: 0.33s;
    -webkit-animation-iteration-count: one;
    animation-iteration-count: one;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    background-image: none;
    border-bottom: 5px solid black;
    background-size: cover;
    border-radius: 12px;
    padding: 0.25em;
    color: silver;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

/* RESPONSIVE NAVIGATION */


@media (max-width: 792px) {

    nav {
        cursor: url('https://raw.githubusercontent.com/silke-silke/silke-silke.github.io/master/css/img/point1.png'), auto;
        max-width: 98%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        font-family: "Lota Grotesque Alt 1 Regular";
        font-weight: normal;
        Font-size: 1.2em;
        text-decoration: none;
    }

    nav a {
        margin: 10px;
        color: black;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-right: 0;
        padding-left: 0;
        border-radius: 20px;
        background-color: white;
        cursor: url('https://raw.githubusercontent.com/silke-silke/silke-silke.github.io/master/css/img/point1.png'), auto;
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
        text-decoration: none;
        text-align: center;
        border: 3px solid black;
        font-family: "Lota Grotesque Alt 1 Regular";
        font-weight: normal;
        Font-size: 1.5em;
    }

    nav a:hover {
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
        text-decoration: none;
        text-align: center;
        cursor: url('https://raw.githubusercontent.com/silke-silke/silke-silke.github.io/master/css/img/point1.png'), auto;
        margin: 10px;
        color: black;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        padding-right: 0;
        padding-left: 0;
        -webkit-animation: silver;
        animation: silver;
        -webkit-animation-duration: 0.33s;
        animation-duration: 0.33s;
        -webkit-animation-iteration-count: one;
        animation-iteration-count: one;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        background-image: none;
        background-size: cover;
        border-radius: 20px;
        -webkit-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
    }

    .stroke {

        font: 30vw "Lota Grotesque Alt 1 Regular";


    }



}

/*END OF NAVIGATION */

::-moz-selection {
    background: pink;
    color: black;
}

::selection {
    background: pink;
    color: black;
}

small {
    font-size: 24px;
    font-family: "lota grotesque alt 1 regular", sans-serif;
}

a.wiggle {
    border-bottom: 0px dashed black;
    text-decoration: none;
}

a.wiggle:hover {
    cursor: url('https://raw.githubusercontent.com/silke-silke/silke-silke.github.io/master/css/img/point1.png'), auto;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23000000' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
    border-bottom: 0;
}











font-family:
